body{
        background-color: rgb(3, 3, 3);
}
.container{
    height: 100%;
    padding: 2rem;
    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.card-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: 70%;
   width: 20%;
   background-color: rgb(39, 38, 38);
   border: 1px solid rgb(77, 72, 72);
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
 
   border-radius: 10px;
   padding: 1.5rem;
   font-family: sans-serif;
}
.image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;

}
.haeding-para{
   margin-top: 20px;
  line-height: 12px; 
}
.haeding-para h1{
    font-weight: 700;
    color: beige;

}

.haeding-para p{
    font-weight: 600;
    color: rgb(155, 155, 9);

}
.para{
    color: beige;
}
.but{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
button{
    border: 1px solid rgb(77, 72, 72);;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    margin: 5px;
    width: 100%; 
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;

}